@charset "utf-8";

body{ background: #eeeeee; max-width: 640px; font-family: "微软雅黑"; margin:0 auto 55px;}

nav{ height: 60px; overflow: auto; width: 100%; overflow:-moz-scrollbars-vertical; background: #fff; margin-bottom: 5px;}

::-webkit-scrollbar { width: 1px; height:0px; opacity: 0; } 
::-moz-scrollbar { width: 1px; height:1px; opacity: 0;}
::scrollbar { width: 1px; height:1px; opacity: 0;}
::-o-scrollbar { width: 1px; height:1px; opacity: 0;}

.page_guide_item { float: left;width: 120%;}
.page_guide_item_text {float: left;width: 100%; overflow: scroll;}
.page_guide_item_text a{ width: 16.6%; float: left; color: #616161;display: block; height: 57px; border-bottom: 2px solid #fff; background: url(../images/shu_right.png) no-repeat right center;}
.page_guide_item_text li a{width:100%; height: 100%; display: block;}
.page_guide_item_text span{ width:100%; display: block; text-align: center;}
.page_guide_item_text span img{ width:27px; height:27px; padding: 7px 0px 0px;}
.page_guide_item_text p{ width:100%; text-align: center; line-height: 14px; font-size: 11px;}



section{ width: 100%; height: 100%;}
.content{ width:100%; background: #eee;}
.content_t{ width:100%; background: #fff; float: left;}
.content_t_h3{ height:42px; margin: 0 4.4%; border-bottom: 1px solid #d5d5d5;}
.content_t_h3 a{ display: block; width: 100%; height: 100%;}
.content_t_h3 a h3{ float: left; line-height: 42px; color: #acacac; font-size: 11px;}
.content_t_h3 a h3 i{ color: #2196f3; font-size: 15px; margin-right: 2px;}
.content_t_h3 a h3 bdi{ color: #4c4b4b; font-size: 14px;}
.content_t_h3 a span{ float: right; width:75px; height:42px; font-size: 13px; color:#2196f3; line-height: 42px;}
.content_t_h3 a span:active {background-color: #f4f4f4;}
.content_t_h3 a span img{ width:14px; height:12px; padding:14px 0px; float: left; margin-right: 5px;}

.content_top{ width:100%; background: #fff; margin-bottom: 5px; float: left;}
.content_top_h3{ height:42px; margin: 0 4.4%;}
.content_top_h3 a{ display: block; width: 100%; height: 100%;}
.content_top_h3 a h3{ float: left; line-height: 42px; color: #4c4b4b; font-size: 13px;}
.content_top_h3 a h3 p{ float: left; color: #ff3535; font-size: 16px; margin-right: 2px;}
.content_top_h3 a span{ float: right; width:10px; height:6px;}
.content_top_h3 a span img{ width:10px; height:6px; padding:19px 0px 17px;}
.queb{ margin: 6px 4%; float: left; line-height: 20px; color: #4d4d4d; font-size: 13px; background: #eee;}

.ben_coin{ float: left; width: 17px; height: 17px; padding: 12px 9px 12px 6px;}
.content_top_infor{ margin: 0 4.4%; border-top: 1px solid #d5d5d5;}
.content_top_infor_in{ padding: 13px 10px 15px 32px;}
.content_top_infor_in p{ width: 100%; float: left; line-height: 24px; color: #8b8b8b; font-size: 12px;}
.content_top_infor_in p span{ line-height: 24px; width: 85%; float: left; color: #454545; font-size: 12px;}


.content_top_infor_in p bdi{ float: left;}


.content_center{ width:100%; float: left; background: #fff;}
.content_center_infor{ padding:0px 3.33% 30px;}
.content_center_infor h3{ line-height: 43px; color: #aaaaaa; text-align: center; font-size: 12px; width: 100%;}
.content_center_infors{}
.content_center_infors h3{ line-height: 47px; color: #aaaaaa; text-align: center; font-size: 12px; width: 100%;}
.content_center_infor_czs{ margin: 0px 0px 29px;}
.content_center_infor_czs ul{}
.content_center_infor_czs ul li{ float: left; width: 31.2%; height: 44px; position: relative; color:#ffbc4a; margin: 0px 1% 9px;}
.content_center_infor_czs ul li img{ float: left; width: 100%; height: 44px; color:#ffbc4a;}

.content_center_infor_czs ul li h2{ width: 100%; height: 44px; position: absolute; left: 0px; top: 0px;}
.content_center_infor_czs ul li h2 p{ float:left; margin:5px 0px 5px 2px; text-align: center; line-height: 34px; font-size: 24px; width:72.5%; border-right: 1px solid #ffe3b8;}
.content_center_infor_czs ul li h2 p a{ width:100%; height: 100%; display: block; color:#ffbc4a;}
.content_center_infor_czs ul li h2 span{ float:right; margin:5px 2px 5px 0px; line-height: 34px; font-size: 12px; width:22%; text-align: center;}
.content_center_infor_czs ul li h2 span a{ width:100%; height: 100%; display: block; color:#ffbc4a;}


.content_center_infor_cz{ margin: 0px 0px 16px;}
.content_center_infor_cz ul{}
.content_center_infor_cz ul li{ float: left; width: 31.2%; height:39px; border:1px solid #ffb849; position: relative; color:#ffbc4a; margin: 0px 1% 7px;}
.content_center_infor_cz ul li.active{ background: #ffbc4a; color:#fff;}
.content_center_infor_cz ul li.active p{ color:#fff; border-right: 1px solid #fff;}
.content_center_infor_cz ul li.active span{ color:#fff;}
.content_center_infor_cz ul li p{ float:left; width:57%; color:#ffb33a; border-right: 1px solid #fcca7d; line-height: 31px; margin:4px 0px; font-size: 21px;}
.content_center_infor_cz ul li p i{ margin:0px 1px 0px 2px; float: left; font-size:10px; line-height: 12px;}
.content_center_infor_cz ul li span{ color:#ffb33a; width:39.9%; margin:4px 0px; text-align: center; line-height: 31px; font-size: 11px;float: right;}

.intro{ background: #ffbc4a;}

.input_l{ margin:0px 7px 19px;}
.input_text{ padding:13px 2% 13px 2%; border:1px solid #dbdbdb; border-radius: 5px 5px 0px 0px;}
.input_l input{ width:96%; line-height: 16px; font-size: 14px; padding-left:23px; color:#8a8a8a; border:none;}
.xuhao{ background: url(../images/xuhao.png) no-repeat left center;}
.password{ background: url(../images/nimi_password.png) no-repeat 3px center;}

.tishi{ margin:0px 8px; color: #484848; line-height: 17px; font-size: 13px;}
.tishi h2{ float: left; font-size: 13px; color: #a6a6a6; line-height: 17px;}
.shuom{ width:100%; height:28px;}
.shuom a{ float: right; color: #007bf0; font-size: 14px; line-height: 28px; text-decoration: underline;}

.qit{ width:72.5%;margin: 5px 0 5px 2px;border-right: 1px solid #ffe3b8; float: left; color: #ffb849; font-size: 15px; text-align: center; background:none; line-height: 34px;}
.tuitui_b{ width:100%; background: #fff; float: left;}
.tuitui_b_h3{ height:42px; margin: 0 8px; border-top: 1px solid #d5d5d5;}
.tuitui_b_h3 a{ display: block; width: 100%; height: 100%;}
.tuitui_b_h3 a h2{ float: left; line-height: 42px; margin-left:5px; color: #acacac; font-size: 11px;}
.tuitui_b_h3 a h2 i{ color: #ff3535; font-size: 19px; margin-right: 2px;}
.tuitui_b_h3 a h2 bdi{ color: #484848; font-size: 11px;}

.assshow,.tuic,.zhif{ width:100%; height:100%; z-index: 999; position:fixed; left:0px; top:0px; background:rgba(0,0,0,0.6);}
.assshow_infor{ width:100%; margin: 0px auto 15px ; position: relative; background: #fff; overflow: auto; height: 100%;}
.assshow_infor_in{ padding:0px 15px 12px; position: relative;}
.assshow_infor_in h3{ color:#404040; font-size: 14px; margin-bottom: 10px; line-height: 25px; }
.assshow_infor_in ul{}
.assshow_infor_in ul li{ color:#797979; font-size: 13px; line-height: 19px;}
.assshow_infor_in ul p{ color:#797979; font-size: 13px; line-height: 19px;}
.assshow_infor_in ul li ol li{ color:#797979; margin-left:2px; font-size: 13px; line-height: 19px;}

.assshow_content{ width: 90%; margin: 11px auto; background: #fff; height: 90%;}

.close{ position: relative; top:-8px; height: 30px; width: 100%; background: rgba(255,255,255,0); left: 0px;}
.close a{ width: 70px; height: 30px; float: right; margin-right: -8px;}
.close img{ width: 21px; height: 21px; margin: 4px 0 0 46px}

.tuic_infor{ width: 413px; height: 262px; background: #eee; margin:154px auto;}
.tuic_infor_size{ padding:53px 20px 42px;}
.tuic_infor_size p{ width: 100%; text-align: center; line-height: 40px; font-size: 30px; color: #4f4f4f;}
.tuic_infor_input{ margin: 0px 12px;}
.tuic_infor_input a{ margin:0px 4px 0px 6px; float: left; width:184px; height:67px;}
.tuic_infor_input a img{ float: left; width:184px; height:67px;}

.zhif_infor{ width: 392px; height: 262px; background: #eee; margin:154px auto;}
.zhif_infor_size{ padding:41px 20px 34px;}
.zhif_infor_size h3{ line-height: 63px; font-size: 31px; color: #4f4f4f;}
.zhif_infor_size h3 img{ width:49px; float: left; height: 49px; margin:7px 20px 7px 66px;}
.zhif_infor_size p{ width: 100%; text-align: center; line-height: 39px; font-size: 20px; color: #aaaaaa;}
.zhif_infor_input{ margin: 0px 20px;}
.zhif_infor_input a{ width:351px; height:66px;}
.zhif_infor_input a img{ float: left; width:351px; height:66px;}

.chengg_infor{ width: 392px; height: 262px; background: #eee; margin:154px auto;}
.chengg_infor_size{ padding:42px 20px 36px;}
.chengg_infor_size h3{ line-height: 100px; font-size: 31px; color: #4f4f4f;}
.chengg_infor_size h3 img{ width:49px; float: left; height: 49px; margin:25px 20px 25px 66px;}
.chengg_infor_input{ margin: 0px 20px;}
.chengg_infor_input a{ width:351px; height:66px;}
.chengg_infor_input a img{ float: left; width:351px; height:66px;}



.footer{ position: fixed; left: 0px; bottom: 0px; height:50px; background:#fff; border-top: 1px solid #D5D5D5;} 
.footerimg{ width:71%; margin: 0 auto; height:38px;}
.footerimg img{ width:100%;}
.footerimgs{ width:100%; margin: 6px auto; height:38px; background: #2196f3; font-size: 16px; border-radius: 4px; line-height: 38px; text-align: center; color:#fff;}

/* 帮助 */
#help{ width:100%; background:#fff;}
.help_top{ margin:0px 4.6%;}
.help_top h3{ height:42px; line-height:42px; border-bottom:1px solid #d2d2d2;}
.help_top h3 a{ display: block; height: 100%; width: 100%;}
.help_top h3 .wen{ width:17px; height:17px; float:left; margin:13px 8px 12px 4px;}
.help_top p{ font-size:14px; color:#393939; float:left;}
.help_bottom{ float:right; width:10px; height:6px; margin:19px 0px 17px;}

.help_top_infor{ padding:10px 6px; border-bottom:1px solid #d2d2d2;}
.hp_infor{ line-height:16px; color:#7c7c7c; font-size:12px;}
.help_top_infor ul{ margin-top:4px;}
.help_top_infor ul li{ line-height:20px; color:#7c7c7c; font-size:12px;}

.fuc{ position: absolute; left: 0px; top:0px; width:100%; height: 100%;}
.fuc img{ width:100%; height: 100%;}